.tabContainer {
  display: flex;
  justify-content: left;
  background-color: rgb(250, 250, 250);
}

.tab {
  background-color: #fcfcfc;
  border: 1px solid #7b7b7b;
  border-radius: 2px;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
  transition: background-color 0.3s ease;
}

.activeTab {
  background-color: #7b7b7b;
  color: #fff;
  font-size: 0.8rem;
}
