.tabContainer {
  display: flex;
  justify-content: left;
  border-bottom: 0.8px solid #616161;
}

.tab {
  background-color: rgb(252, 252, 252);
  border: 1px solid #616161;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
  transition: background-color 0.3s ease;
}

.activeTab {
  background-color: #7b7b7b;
  color: #fff;
  font-size: 0.8rem;
}
