.root {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 90%;
  left: 40%;
  transform: translateX(-50%);
  background-color: rgb(230, 230, 240);
  color: #333;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  z-index: 1000;
  white-space: nowrap;
}
