.container {
  background-color: rgb(240, 240, 240);
  max-width: 240px;
  min-width: 160px;
  width: 240px;
  padding-top: 16px;
  min-height: 100vh;
}

/* TODO: 以下は全く同じスタイルをsrc/app/components/forms/add/styles.module.cssでも使っている*/
.sidebarItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, font-weight 0.3s;
}

.sidebarItem:hover {
  background-color: #e0e0e0;
  font-weight: bold;
}

.icon {
  font-size: 1.2rem;
}

.label {
  font-size: 1rem;
}
