.root {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 360px;
  max-width: 480px;
  padding: 32px;
  font-weight: bold;
  z-index: 9998;
}

.success {
  background-color: #E0F2F1;
  color: #009688;
}